h2 {
  color: #6A1BB1;
}

img {
  height: 200px;
}

.card {
  border: 5px solid violet;
  width: 300px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 2rem;
}

.contador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  background-color: violet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 3px;
}

button:hover {
  background-color: #6A1BB1;
}

a {
  color: white;
  background-color: violet;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5rem;
  font-size: 16px;
}

.footer {
  margin: 0 auto;
  background: none;
  margin-bottom: 2rem;
}

.Final {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

.card-text {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 5px 3px;
  text-align: justify;
}

.card-title {
  grid-column: 1/3;
  grid-row: 1/3;
}

.Content {
  grid-column: 3;
  grid-row: 1;
  margin-top: 3px;
  align-items: center;
}

.card-cita {
  grid-column: 2;
  text-align: center;
  width: 100px;
}